body {
	background-color: #36393e;
}

h1 {
	color: white; font-size: 25pt; font-family: Ubuntu; font-style: bold;
}

h2 {
	color: white; font-size: 20pt; font-family: Ubuntu; font-style: bold;
}


p1 {
	color: white; font-size: 14pt; font-family: Ubuntu Mono;
	
}


